In [28]:
import MySQLdb as sql

conn = sql.connect(
    host='localhost',
    port=3306,
    user='root',
    passwd='Y65ng2004010@',
    db='test',
)

cur = conn.cursor()
# cur.execute('create table student2(id int auto_increment ,name varchar(20),class varchar(30),age varchar(10), primary key (id))')
# cur.execute("insert into student2(name, class, age) values('Tom','3 year 2 class','9')")
# cur.close()

# conn.commit()
# conn.close()

In [19]:
cur.execute('select * from student where id = 2')
result = cur.fetchall()
result

((2, 'Tom', '3 year 2 class', '9'), (2, 'Tom', '3 year 2 class', '9'))